<p *ngIf="error">{{error}}</p>
Group: <select [(ngModel)]="groupId"><option value="0">--ALL--</option><option *ngFor="let group of groups" [value]="group.id">{{group.name}}</option></select>
Search: <input type="text" [ngModel]="search" (ngModelChange)="changed($event)" placeholder="Enter search text"/>
<div *ngIf="descriptions && descriptions.length">
  <ul>
    <li *ngFor="let desc of state.descriptions"><button (click)="getInfo(desc.id)">Info</button> {{desc.id}} &mdash; {{desc.name}}: {{desc.description}}
  </ul>
</div>
